<div id="main-div">
  <mat-card class="card">
    <div id="header-div">
      <mat-card id="header-card">{{ eventFind?.theme }}</mat-card>
    </div>
    <div id="image-div">
      <img [src]="verifyImage(eventFind?.eventImage)" />
    </div>
    <mat-card-content>
      <p><span>Local:</span> {{ eventFind?.local }}</p>
      <p>
        <span>Data e Hora:</span>
        {{ eventFind?.eventDate | date: "dd/MM/yyyy" }} às
        {{ eventFind?.eventTime }}
      </p>
      <p>
        <span>Quantidade de pessoas:</span>
        {{ eventFind?.peopleAmount }}
      </p>
      <p><span>Telefone:</span> {{ eventFind?.phone }}</p>
      <p><span>E-mail:</span> {{ eventFind?.email }}</p>
      <mat-divider></mat-divider>
      <mat-card *ngIf="eventFind.lots.length > 0" id="header-card">
        Lote(s)</mat-card
      >

      <div *ngFor="let item of eventFind?.lots; let i; as: index; async">
        <span id="lot-list"></span>
        <p><span>Lote:</span> &nbsp;{{ item?.lotName }}</p>
        <p><span>Preco:</span> &nbsp;{{ item?.price | currency: "BRL" }}</p>
        <p><span>Lotação:</span> &nbsp;{{ item?.amount }} pessoas</p>
        <p>
          <span>Data Inicial:</span> &nbsp;{{
            item?.initialDate | date: "d/M/yyyy"
          }}
        </p>
        <p>
          <span>Data Final:</span> &nbsp;{{ item?.endDate | date: "d/M/yyyy" }}
        </p>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="editForm()" class="btn-edit">Editar</button>
      <button (click)="delete(eventFind.id)" class="btn-delete">Deletar</button>
    </mat-card-actions>
  </mat-card>
</div>
