@use "../../../Shared/style/mixins";
@use "../../../Shared/style/button";
@use "../../../Shared/style/reset";

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 50px;

  .input-form-small {
    width: 50%;
    @include mixins.mobile {
      width: 100%;
    }
  }

  .input-form {
    width: 370px;

    @include mixins.mobile {
      width: 100%;
    }
  }

  .input-form-long {
    width: 100%;
  }

  .input-lot {
    width: 230px;
    @include mixins.mobile {
      width: 100%;
    }
  }

  #small-div {
    width: 370px;
  }

  .line-div-lot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #container {
    #form-content {
      form {
        #card-theme {
          .line-div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include mixins.mobile {
              display: flex;
              flex-wrap: wrap;
            }
          }
        }
      }
    }
  }
}
