<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [ngClass]="{ hidden: (isHandset$ | async) === false }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/event/list">EVENTO</a>
      <a mat-list-item routerLink="/speaker/list">PALESTRANTE</a>
      <a mat-list-item routerLink="/socialMedia/list">REDE SOCIAL</a>
      <a mat-list-item routerLink="/user/list">LOTE</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="toolbar-div" color="primary" *ngIf="showMenu()">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div>
          <button mat-flat-button routerLink="/event">EVENTO</button>
          <button mat-flat-button routerLink="/speaker">PALESTRANTE</button>
          <button mat-flat-button routerLink="/socialMedia">REDE SOCIAL</button>
          <button mat-flat-button routerLink="/user">USUÁRIO</button>
        </div>
      </div>
      <div id="log-div">
        <p *ngIf="service.currentUser$ | async as user">
          {{ user.userName | titlecase }}
        </p>

        <button mat-flat-button (click)="logout()">LOGOUT</button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
