<main id="main">
    <div id="container">
        <form [formGroup]="formulario">
            <mat-card>

                <mat-card style="width: 93%; margin: 15px; margin-right: 10px;">
                    <p style="letter-spacing: 1px; font-size: 1.5rem; margin: center; ">{{ pageTitle }} </p>
                </mat-card>


                <mat-card-content>
                    <div class="card-div">

                        <!-- Primeira Linha -->
                        <div class="line-div">
                            <mat-form-field class="input-form" appearance="outline">
                                <mat-label>Social Media</mat-label>
                                <input matInput formControlName="socialMedia" autocomplete="off">
                                <mat-error
                                    *ngIf="formulario.controls['socialMedia'].hasError('required') && formulario.touched">
                                    Tema é <strong style="letter-spacing: 1px;">obrigatório</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="input-form second-field" appearance="outline">
                                <mat-label>URL</mat-label>
                                <input matInput formControlName="url" autocomplete="off">
                                <mat-error
                                    *ngIf="formulario.controls['url'].hasError('required') && formulario.touched">
                                    Local é <strong style="letter-spacing: 1px;">obrigatório</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Segunda Linha  -->
                        <div class="line-div">
                            <mat-form-field class="input-form" appearance="outline">
                                <mat-label>Id Evento</mat-label>
                                <input matInput formControlName="eventId" autocomplete="off">
                            </mat-form-field>

                            <mat-form-field class="input-form second-field" appearance="outline">
                                <mat-label>Id Speaker</mat-label>
                                <input matInput formControlName="speakerId" autocomplete="off">
                            </mat-form-field>
                        </div>

                    </div>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button (click)="onSubmit()" class="btn-save">
                        {{ txtBtn }} </button>
                    <button mat-raised-button (click)="btnVoltar()" class="btn-return">Voltar</button>
                </mat-card-actions>

            </mat-card>
        </form>
    </div>
</main>
